@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing     : border-box;
    margin         : 0;
    padding        : 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size  : 16px;
    line-height: 1;
    font-weight: 300;
}

body.modal {
    overflow: hidden;
}

.max-width {
    width    : 100%;
    max-width: 1300px;
    padding  : 0 80px;
    margin   : auto;
}

/* all similar styling */
.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Open Sans', sans-serif;
}

.about .about-content,
.services .services-content,
.skills .skills-content,
.contact .contact-content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    flex-wrap      : wrap;
}

section {
    padding: 100px 0;
}

section .title {
    font-family   : 'Ubuntu', sans-serif;
    text-align    : center;
    font-size     : 40px;
    font-weight   : 500;
    margin-bottom : 60px;
    padding-bottom: 20px;
    position      : relative;
}

section .title::before {
    content  : "";
    position : absolute;
    bottom   : 0;
    left     : 50%;
    height   : 3px;
    width    : 180px;
    transform: translateX(-50%);
}

section .title::after {
    position        : absolute;
    bottom          : -7px;
    left            : 50%;
    background-color: #fff;
    font-size       : 20px;
    color           : crimson;
    transform       : translateX(-50%);
    padding         : 0 5px;
    white-space     : nowrap;
}

.scroll-up-btn {
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: crimson;
    border-radius: 6px;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transform: translateY(20px);
}

.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* navbar styling */

.navbar {
    font-family: 'Ubuntu', sans-serif;
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    padding    : 30px 0;
    transition : all 0.3s ease;
    z-index    : 999;
}

.navbar.sticky {
    background-color: crimson;
    padding         : 15px 0;
}

.navbar .max-width {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size  : 35px;
    font-weight: 600;
    color      : #fff;
}

.navbar .logo a span {
    color     : crimson;
    transition: color 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style : none;
    display    : inline-block;
    margin-left: 25px;
}

.navbar .menu li a {
    display: block;
    color      : #fff;
    font-size  : 18px;
    font-weight: 500;
    transition : color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* home section styling */

.home {
    font-family: 'Ubuntu', sans-serif;
    display    : flex;
    height     : 100vh;
    color      : #fff;
    min-height : 500px;

    background-image   : url("images/bg.jpg");
    background-position: right center;
    background-size    : contain;
    background-repeat  : no-repeat;
    background-color   : #050505;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size  : 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin   : 5px 0;
}

.home .home-content .text-3 span {
    color      : crimson;
    font-weight: 500;
}

.home .home-content a {
    display                   : inline-block;
    background-color          : crimson;
    color                     : #fff;
    font-size                 : 25px;
    padding                   : 0.6em 1.4em;
    margin-top                : 20px;
    border-radius             : 0.4em;
    border                    : 2px solid crimson;
    transition-property       : background-color, color;
    transition-duration       : 0.3s;
    transition-timing-function: ease;
}

.home .home-content a:hover {
    color           : crimson;
    background-color: transparent;
}

/* menu btn styling */

.menu-btn {
    color    : #fff;
    font-size: 23px;
    cursor   : pointer;
    display  : none;
}

/* about section styling */
.about .title::before {
    background-color: #111;
}

.about .title::after {
    content: "Кто я";
}

.about .about-content .left {
    width: 400px;
}

.about .about-content .left img {
    width        : 100%;
    height       : 400px;
    object-fit   : cover;
    border-radius: 5px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size    : 25px;
    font-weight  : 600;
    margin-bottom: 10px;
    line-height  : normal;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align : justify;
    line-height: normal;
}

.about .about-content .right a {
    display                   : inline-block;
    background-color          : crimson;
    color                     : #fff;
    font-size                 : 18px;
    padding                   : 0.6em 1.4em;
    margin-top                : 20px;
    border-radius             : 0.4em;
    border                    : 2px solid crimson;
    transition-property       : background-color, color;
    transition-duration       : 0.3s;
    transition-timing-function: ease;
}

.about .about-content .right a:hover {
    color           : crimson;
    background-color: transparent;
}

/* services section styling */
.services,
.teams {
    background-color: #111;
    color           : #fff;
}

.services .title::before {
    background-color: #fff;
}

.services .title::after {
    content         : "Что я делаю";
    background-color: #111;
}

.services .services-content .card {
    width           : calc(33% - 30px);
    background-color: #222;
    text-align      : center;
    border-radius   : 6px;
    padding         : 25px 35px;
    cursor          : pointer;
}

.services .services-content .card:hover {
    background-color: crimson;
}

.services .services-content .card .box {
    transition: transform 0.3s ease;
}

.services .services-content .card:hover .box {
    transform: scale(1.05);
}

.services .services-content .card i {
    color     : crimson;
    font-size : 50px;
    transition: color 0.3s ease;
}

.services .services-content .card:hover i {
    color: #fff;
}

.services .services-content .card .text {
    font-size  : 25px;
    font-weight: 500;
    margin     : 10px 0;
}

.services .services-content .card p {
    line-height: normal;
}

/* skills section styling */
.skills .title::before {
    background-color: #111;
}

.skills .title::after {
    content: "Что я умею";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size    : 20px;
    font-weight  : 600;
    margin-bottom: 10px;
    line-height  : normal;
}

.skills .skills-content .left p {
    line-height: normal;
    text-align : justify;
}

.skills .skills-content .left a {
    display                   : inline-block;
    background-color          : crimson;
    color                     : #fff;
    font-size                 : 18px;
    padding                   : 0.6em 1.4em;
    margin-top                : 20px;
    border-radius             : 0.4em;
    border                    : 2px solid crimson;
    transition-property       : background-color, color;
    transition-duration       : 0.3s;
    transition-timing-function: ease;
}

.skills .skills-content .left a:hover {
    color           : crimson;
    background-color: transparent;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 7px;
}

.skills .skills-content .right span {
    font-weight: 600;
}

.skills .skills-content .right .line {
    height          : 5px;
    width           : 100%;
    background-color: lightgrey;
    position        : relative;
}

.skills .skills-content .right .line::before {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 100%;
    content         : "";
    background-color: crimson;
}

.skills .skills-content .right .html::before {
    width: 90%;
}

.skills .skills-content .right .css::before {
    width: 80%;
}

.skills .skills-content .right .js::before {
    width: 60%;
}

.skills .skills-content .right .php::before {
    width: 20%;
}

.skills .skills-content .right .mysql::before {
    width: 10%;
}

/* teams section styling */

.teams .title::before {
    background-color: #fff;
}

.teams .title::after {
    content         : "Кто со мной";
    background-color: #111;
}

.teams .carousel .card {
    background-color: #222;
    border-radius   : 6px;
    padding         : 25px 35px;
    text-align      : center;
    transition      : background-color 0.3s ease;
}

.teams .carousel .card:hover {
    background-color: crimson;
}

.teams .carousel .card .box {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    transition     : transform 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size  : 25px;
    font-weight: 600;
    margin     : 10px 0;
}

.teams .carousel .card p {
    line-height: normal;
}


.teams .carousel .card img {
    width        : 150px;
    height       : 150px;
    object-fit   : cover;
    border-radius: 50%;
    border       : 5px solid crimson;
    transition   : border 0.3s ease;
}

.teams .carousel .card:hover img {
    border: 5px solid #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    width        : 13px;
    height       : 13px;
    margin       : 0 5px;
    outline      : none !important;
    border-radius: 50%;
    border       : 2px solid crimson !important;
    transition   : all 0.3s ease;
}

.owl-dot.active {
    width        : 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background-color: crimson !important;
}

/* contact section styling */
.contact .title::before {
    background-color: #111;
}

.contact .title::after {
    content         : "Напишите мне";
    background-color: #fff;
}

.contact .contact-content .column {
    width      : calc(50% - 30px);
    line-height: normal;
}

.contact .contact-content .text {
    font-size    : 20px;
    font-weight  : 600;
    margin-bottom: 10px;
}


.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display    : flex;
    height     : 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color    : crimson;
}

.contact .contact-content .info .head {
    font-weight: 600;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field {
    height       : 45px;
    width        : 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right .field input,
.contact .right .field textarea {
    height       : 100%;
    width        : 100%;
    border       : 1px solid lightgrey;
    font-family  : inherit;
    border-radius: 6px;
    outline      : none;
    padding      : 0 15px;
    font-size    : 17px;
}

.contact .right .field textarea {
    resize     : none;
    padding-top: 10px;
}

.contact .right form .button button {
    border                    : 2px solid crimson;
    background-color          : crimson;
    color                     : #fff;
    font-family               : inherit;
    border-radius             : 6px;
    padding                   : 0.8em 1em;
    font-size                 : 16px;
    cursor                    : pointer;
    font-weight               : 600;
    outline                   : none;
    transition-property       : background-color, color;
    transition-duration       : 0.3s;
    transition-timing-function: ease;
}

.contact .right form .button button:hover {
    background-color: transparent;
    color           : crimson;
}

/* footer section styling  */
footer {
    background-color: #111;
    padding: 25px;
    text-align: center;
    color: #fff;
}

footer span a {
    color: crimson;
    font-weight: 600;
}

footer span a:hover {
    text-decoration: underline;
}

/* responsive media query start */

@media (max-width: 1130px) {
    .about .about-content .left {
        width: 340px;
    }

    .about .about-content .left img {
        height: 340px;
    }

    .services .services-content .card {
        width        : calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: calc(50% - 20px);
    }
}

@media (max-width: 960px) {
    .max-width {
        padding: 0 50px;
    }

    .navbar .menu {
        display         : flex;
        justify-content : center;
        align-items     : center;
        flex-direction  : column;
        position        : fixed;
        top             : 0;
        left            : -100%;
        width           : 100%;
        height          : 100vh;
        background-color: #000;
        transition      : all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
        margin : 20px 0;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
    }

    .about .about-content .left {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 100%;
        margin-bottom : 50px;
    }

    .about .about-content .left img {
        height   : 340px;
        width    : 340px;
        max-width: 100%;
    }

    .about .about-content .right {
        width : 80%;
        margin: 0 auto;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
    }

    .skills .skills-content .left,
    .contact .contact-content .left {
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .services-content .card {
        width: 100%;
    }
}


@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .home .home-content a {
        font-size: 16px;
    }

    .about .about-content .right {
        width: 100%;
    }

    .contact .right form .fields {
        display: block;
    }

    .contact .right .fields .field {
        margin-right: 0;
        margin-left : 0;
    }
}